.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loaders {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.loader1{
    border: 1.3rem solid #f3f3f3;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: loader1 1s linear 0.5s infinite forwards;
}

@keyframes loader1 {
    0% {
        border-top: 1.3rem solid goldenrod;
    }
    50% {
        border-bottom: 1.3rem solid goldenrod;
    }
    75% {
        border-right: 1.3rem solid goldenrod;    
    }
    100% {
        border-left: 1.3rem solid goldenrod;
    }
}

.loader2{
    border: 1.3rem solid #f3f3f3;
    border-top: 1.3rem solid goldenrod;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: loader2 8s linear infinite;
}

@keyframes loader2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(3600deg);
    }
}